/* 

Wedding - CSS File

*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }

/*============================================ GLOBAL  =================================================*/
body {
	font-family: 'Droid Sans', sans-serif, arial;
	font-size:13px;
	margin:0 auto;
	padding:0;
	line-height:20px;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
form{margin:0; padding:0;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px 30px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}
em{ font-style:italic;}
/*** END OF GLOBAL  ***/


/*============================================ DEFAULT ELEMENT STYLES  =================================================*/
/* heading */
h1, h2 {margin-bottom:19px; }
h3, h4, h5{margin-bottom:10px; }
h1	{font-size:24px;}
h2	{font-size:20px;}
h3	{font-size:18px;}
h4	{font-size:16px;}
h5	{font-size:10px;}
h6	{font-size:9px;}
h1, h2, h3, h4, h5, h6{font-family: 'Droid Serif', sans-serif, arial; line-height:normal}

.title{ padding:0px 0 18px 0px; margin-bottom:16px;}
.titleRegular{font-weight:400}
.titleBold{font-weight:700}
.titleLight{font-weight:300}
.titleUppercase{text-transform:uppercase}
.titleNormal{text-transform:none}
.italic{font-style:italic}
.textBoldUppercase{font-weight:700; text-transform:uppercase;}
.more{ font-weight:bold;}


/* links */
a, a:visited {text-decoration:none;}
a:hover{text-decoration:none;}
a img{border:none}


/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 19px;
	
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 19px;
	
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin:0px;
}


img.alignleft, 
img.alignright, 
img.aligncenter
{
	margin-bottom: 12px;
}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:20px;
}
ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ul li{ padding-bottom:10px;}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
	
blockquote {
    clear: both;
    margin: 0 20px 20px 0px;
	font-size:20px;
	font-style:italic;
	line-height:30px;
	font-family: 'Droid Serif', sans-serif, arial;
}

	
blockquote.left, blockquote.right  {
	float:right;
	margin:0 0 0 20px;
	width:65%;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}


/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	padding:15px 10px;
}

/*** END OF DEFAULT ELEMENT STYLES ***/


/*============================================ CONTAINER  =================================================*/
#bodychild{
	padding-top:31px;
	position:relative;
}

#outercontainer{
	max-width:1240px;
	margin:0 auto;
	padding:0;	
}



/*** END CONTAINER ***/

/*** HEADER ***/
#outerheader{ position:relative;}
#top{}
#logo{height:auto; padding-top:26px; padding-bottom:21px; text-align:center}
#logo a{}
#logo h1{margin:0; font-size:28px; line-height:28px;}
#logo img{ margin-top:22px;}
#logo .desc{  font-size:14px; font-family: 'Droid Serif', sans-serif, arial;  display:block}



/* TOP MENU */
#navigation{position:relative; z-index:200; margin:0;}

/* Nav Menu */
#topnav{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:visible;
	position:relative;
	font-size:16px;
	font-family: 'Droid Serif', sans-serif, arial;
	text-align:center
}
.sf-menu li{ }
.sf-menu a {
	text-decoration:none;
	display:		block;
	position:		relative;
	padding: 		0px 25px 0px 25px;
	margin: 19px 0px;
	
}
.sf-menu li:hover, .sf-menu li.current_page_item{ }
.sf-menu a:hover, .sf-menu li.current_page_item > a{ }


/* Drop down menu */
.sf-menu ul a:hover {}
.sf-menu li li {
	line-height:20px;
	margin:0 0 1px 0;
	padding:0px;
	width:auto;
	text-align:left;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:100%;
	position:absolute;
	right:0;
	bottom:0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	display:inline-block;
	position:		relative;
	margin:0;
}


.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			-1px;
	top:			3.4em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			-1px;
	margin-left:	0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			-1px;
}
.sf-menu ul li a{
	padding:8px 20px 7px 20px!important;
	margin:0px;
	font-size:13px;
}

.sf-menu ul li a:hover{}
.sf-menu li ul {
	
}
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			10px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
}


	
/* dropdown mobile */
.tinynav { display: none }

.headline{ text-align:center; margin:20px 0 0 0; padding:20px 0;}
.headline h1{ font-weight:300; margin-bottom:0px; font-size:24px;}


/*============================================ SLIDER   =================================================*/
#slidercontainer{}
#slider{position:relative; margin:20px 0 0 0;}
#slider img{ display:block;}


/*============================================ BEFORE CONTENT  =================================================*/
#outerbeforecontent{ margin-bottom:35px;}
#beforecontent{position:relative; text-align:center;}
#pagetitle-container{padding:30px 0px 28px;}
#pagetitle-container .pagetitle{ display:block; margin-bottom:0px; } 
.pagedesc{ font-size:11px;}

/*============================================ CONTENT  =================================================*/

#maincontent{ margin-bottom:0px;}

.row .positionright{float:right;}
.row .positionleft{ float:left;}


#featured{ text-align:center; padding-top:39px;}
#featured img{ margin-bottom:10px;}


.indentleft{overflow:hidden;}

.margin_top{ padding-top:5px;}
.margin_right{ margin-right:20px;}
.margin_bottomoff{margin-bottom:0 !important;}
.margin_bottom_small{margin-bottom:5px;}
.margin_bottom_middle{margin-bottom:12px;}
.margin_bottom_large{margin-bottom:20px;}

.textCenter{text-align:center;}
.textMiddle{ padding:10px 0px 20px;}
.center{ margin:0 auto!important; float:none; display:block;}
.nomargin{margin-right:0}
.nopadding{ padding-right:0px;}
.displayblock{display:block;}


.story .columns{ margin-bottom:40px;}
.story .alignleft{ margin-right:25px;}
.story  .indentleft{ padding-top:10px}

/*=== Testimonials ===*/
.testimonial{  width:97%; float:right; margin-bottom:20px;}
.box-testi{padding-top:30px; margin:11px 0; float:left;}
.testimonial .text{ padding:14px 0 0 40px; float:left; width:74%;}
.testimonial .img{ float:left; width:17%;}
.testimonial .img .avatar{ float:right; margin-right:25px;}

.testimonial .author{ margin:0px; padding:3px 0 40px 0;}
.testimonial .user{ font-family: 'Droid Serif', sans-serif, arial;}
.testimonial .date{ font-size:11px;}


/*=== Carousel ===*/
div.carousel{ overflow: hidden; position:relative;}
div.carousel .item{ float: left; }

div.carousel .carousel-nav{ position: absolute; top: 0px; right: 0px; }

.carousel-nav .port-nav.right { background: #ccc url(../images/nav-next.gif) no-repeat center; right: 0px; margin-left:4px; }
.carousel-nav .port-nav.left { background: #ccc url(../images/nav-prev.gif) no-repeat center; }

.carousel-nav .port-nav:hover {opacity: 0.8;}

.carousel-nav .port-nav{ width: 17px; height: 17px; display: block; cursor: pointer; float: left;}


/*=== Highlight Content ===*/
.highlight-content {
    clear: both;
    margin: 0 0 0;
    padding: 0 0 20px;
    text-align: center;
}


/*=== Post Shortcode ===*/
.post-shortcode h2{margin-bottom:10px;}
.post-shortcode h2 a{ font-weight:normal; font-size:16px; }
.post-shortcode .date-wrapper{ float:left; text-align:center; margin-right:30px;}
.post-shortcode .date-wrapper .date-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.post-shortcode .date-wrapper .month-value {
    font-size: 18px;
    margin-bottom: 5px;
}
.post-shortcode .date-wrapper .year-value {
    font-size: 14px;
}


/*=== Images ===*/
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}
.frame{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.frame10{ margin:0px 29px 0px 0; float:left;}
.circle img, .circle{
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	display:block;
}


/*=== Form & Button ===*/
form{margin:0; padding:0;}

input[type="text"],
textarea, input[type="password"], select{
	padding:7px 5px;
	font-size:12px;
}

textarea{width:90%;}

textarea:focus{outline:0;}

.button, .button:visited, input[type="submit"], button{
	padding:7px 0px 8px 15px;
	cursor:pointer;
	font-size:13px;
	line-height:28px;
	font-family: 'Droid Serif', sans-serif, arial;
}

.button:hover, input[type="submit"]:hover, button:hover{text-decoration:none;}

.button.small, input[type="submit"].small, button.small{font-size:12px; padding:8px 12px;}
.button.medium, input[type="submit"].medium, button.medium{font-size:14px; padding:12px 14px;}
.button.large, input[type="submit"].large, button.large{font-size:14px; padding:14px 20px;}

/*=== Separator ===*/
.separator{
	display:block;
	height:13px;
	margin:0 0 50px;
	padding-top:28px;
	text-align:center;
	width:100%;
	clear:both;
}


/*=== Dropcaps ===*/
.dropcap1{
	display:block;
	float:left;
	font-size:32px;
	line-height:34px;
	margin:4px 8px 0 0;

}
.dropcap2{
	display: block;
	float:left;
	border-radius: 55px 55px 55px 55px;
    display: block;
    float: left;
    font-size: 26px;
    line-height: 47px;
    margin: 6px 8px 0 0;
    text-align: center;
    width: 47px;	
}
.dropcap3{
	display:block;
	float:left;
	font-size:26px;
	line-height:35px;
	width:47px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
	padding:5px 0;
}

/*== Highlight ==*/
.highlight1{padding:2px 5px;}	
.highlight2{padding:2px 5px;}

/*=== Pullquotes ===*/
.pullquote-right, .pullquote-left{
	padding:0px 10px 0px 30px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	float:right;
	font-style:italic;
	font-size:12px;
	letter-spacing:0px;
	line-height:22px;
	margin:0px 2px 20px 20px;
	width:50%;
	}
.pullquote-left{float:left;margin-left:2px;margin-right:20px;}


/*==== Tabs ====*/
.tabcontainer{margin:0;}
ul.tabs {
	margin: 0;
	margin-bottom:0px;
	padding: 0 0 0px 0;
	list-style: none;
	width: 100%;
	float:left;
}

ul.tabs li {
	float: left;
	margin: 0 0;
	padding: 0 15px;
	overflow: hidden;
	position: relative;
	font-size:13px;
}

ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 5px 0px;
	outline: none;
}

.tab-content { }
	
ul.tabs li:hover{}
.tab-body{padding:20px 20px 0px; float:left;}

/*==== Tabs 2 ====*/
.tabcontainer2{margin:0 0 20px 0;}
.tabcontainer2 ul.tabs {
	margin: 0 25px 0px 0px;
	padding: 0 0 0px 0;
	list-style: none;
	width:22%;
	float:left;

}
.tabcontainer2 ul.tabs li {	display:block; float:none; padding:0px 15px;}
.tabcontainer2 ul.tabs li:first-child{ border-top:0px; }

.tabcontainer2 ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 10px 0px;
	outline: none;
	font-size:14px;
	font-weight:bold;
}

.tabcontainer2 .tab-content {padding: 0px 0px; float:left; width:73%;  }
.tabcontainer2 ul.tabs li:hover{}
.tabcontainer2 .tab-body{ padding:0px;}

/*==== jQuery Toggles ====*/
#toggle{border: 0px }
h2.trigger {
	padding:0;
	margin: 0 0 7px 0;
	font-size:13px;
	font-weight:normal;
	cursor:pointer;
}

h2.trigger span {
	text-decoration: none;
	display: inline-block;
	padding:10px 12px;
	margin-right:20px;
	font-size:14px;
	font-weight:bold;
}

h2.active span{}
h2.active {}

.toggle_container {
	margin: 0 0 7px 40px;
	margin-top:-7px;
	padding: 10px 20px;
	overflow: hidden;
	clear: both;
}


/*==== Tables ====*/
table {border-collapse:separate;border-spacing:0;width:100%; margin-bottom:18px;}
table,td,th { text-align:left; }
th{padding:10px;}
td{padding:10px;}
tfoot td{border:0px;}
th,tr:hover{}
table {
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	font-size: 13px;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	padding: 6px 24px;
}
tr.odd td {}



/*============================================ SIDEBAR  =================================================*/


.widget-title {
    margin-bottom: 25px;
	font-size:16px;
	padding-top:3px;
}

.sidebar ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

.sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
.sidebar .widget-container{margin-bottom:57px; padding-bottom:0px; }
.sidebar li.widget-container:last-child{margin-bottom:0; padding-bottom:0px}

.sidebar li li{
	list-style-type:none;
	margin:0 0 6px 0;
	padding:0 0 6px 0px;
}
.sidebar li li:last-child{ margin-bottom:0;}

.sidebar li li a{}
.sidebar li li a:hover, .sidebar li li a.active{text-decoration:none;}

.sidebar .textwidget{}
.sidebar .textwidget p{ margin-bottom:10px;}

/*==== Search ====*/
#searchform {position: relative; width:100%; float:left;}
#searchform .bgsearch { padding:6px!important}
#searchform #s { width:81.5%; padding:5px 5px 4px!important; box-shadow:none; outline:none}
#searchform input {

}
.searchbutton {
	width: 33px;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 8px;
    
}

/*==== Gallery Widget ====*/
ul.flickr{list-style-type:none; padding:0; margin:0;}
ul.flickr li{ float:left; margin-right:10px !important;}
ul.flickr li.nomargin{margin-right:0 !important;}

/*==== Testimonial Widget ====*/
.testimonial-widget{}
.testimonial-widget h6{line-height:20px; margin-bottom:10px}
.testimonial-widget .alignleft{margin-right:10px;}
.testimonial-widget .quote{ display:block; padding:5px 0 0 0; font-size:13px; font-style:italic}

/*==== Tag ====*/
.tags a{padding:5px 10px!important; margin:0 0px 3px 0 !important; display:inline-block; font-size:11px; font-weight:bold;}
.tags a:hover{}

/*==== Recent post widget ====*/
.rp-widget li{padding-bottom:20px !important;  margin-bottom:20px !important; clear:both; background:none; list-style:none!important;}
.rp-widget li img{ float:left; margin-right:14px; margin-top:4px;}
.rp-widget li.last{margin:0 !important; padding:0 !important; border-bottom:0px!important;}
.rp-widget li h3{font-size:14px; margin-bottom:0px;}
.rp-widget li p{ margin:0px;}
.rp-widget li .smalldate{font-size:11px; display:block; overflow:hidden;  padding:5px 0px}

#footer .rp-widget li{ margin-bottom:21px; padding-bottom:0px !important;}

/*============================================ FOOTER =================================================*/
#footer{ margin-top:60px;}

/* Social */
.sn{list-style-type:none; margin:0 0 0 0; padding:15px 0px 0 0px; } 
.sn li{list-style-type:none; margin:0; padding:0 11px 0 0px!important; display:inline; background:transparent} 
.sn span{height:20px; width:20px; display:inline-block;

}
.sn .icon-img{background-position:0 0;}
.sn .icon-img:hover{background-position:0 0px !important; opacity:0.5}




/*==== FOOTER SIDEBAR  ====*/
#footersidebar{padding:70px 0 48px 0;}
#footersidebar ul{list-style-type:none; margin:0; padding:0;}
#footersidebar li.widget-container{list-style-type:none; margin:0 0 20px 0; padding:0; border:0px;}
#footersidebar .widget-title{
	font-size:16px;
	padding:0 0 14px 0;
	margin-bottom:14px;
}
#footersidebar li li{padding:0 0 6px 0px; margin:0 0 6px 0;}
#footersidebar li li:last-child{ border-bottom:0px;}
#footersidebar li a{ padding:0px; margin:0px;}
#footersidebar li a:hover{ text-decoration:none;}

/*==== COPYRIGHT ====*/
#outercopyright{ margin-top:50px; text-align:center;}
#copyright{ padding:38px 0;}
#copyright a, #copyright a:visited{}

